<!-- Tasks Style -->

<link rel="stylesheet" href="/css/tasks.css">

<!-- Tasks Container -->

<div id="tasks-container">
    <% for(task of tasks) { %>
        <% if(!task.done) { %>
            <div class="task-container">
                <input type="checkbox" class="checkbox" name="tasks" value="<%= task.id %>">
                <div class="info-container">
                    <h3><%= task.description %></h3>
                    <span>
                        <i class="fa-solid fa-calendar-days"></i>
                        <%= task.dueDate %>
                    </span>
                </div>
                <div class="category-container <%= task.category %>">
                    <span>
                        <%= task.category %>
                    </span>
                </div>
            </div>
        <% } %>
    <% } %>
</div>