<html>
    <head>
        <title>Your To-Do List | <%= title %></title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); -%>

        <div class="whitespace" id="header-space"></div>

        <main id="layout-main">
            <%- body -%>
        </main>
        <%- include('_footer'); -%>
        <%- script %>
        <script src="https://kit.fontawesome.com/e16d17d055.js" crossorigin="anonymous"></script>
    </body>
</html>